<!-- app.component.html -->
<!-- i copied this idea from ionic tab starter templates -->
<!-- docs: https://ionicframework.com/docs/angular/your-first-app -->

<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-bar">
      <!-- home tab -->
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <!-- history tab -->
      <ion-tab-button tab="history">
        <ion-icon name="book"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
